body {
  font-family: sans-serif;
  padding-top: 10vh;
  margin: 0 auto;
  width: 75%;
  height: 100vh;
  box-sizing: border-box;
  text-align: center;
  background-color: whitesmoke;
}

input, button {
  width: 5vh;
  height: 5vh;
  margin: 0;
  font-size: 24px;
  background-color: wheat;
  border: 1px solid goldenrod;
  border-radius: 5px;
}

#word-family {
  font-size: 64px;
  margin: 20px 20px 0;
  color: rosybrown;
}

#image {
  width: 50vw;
  height: 50vw;
  margin: 10px auto 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#word {
  font-size: 64px;
  margin: 20px;
  color: saddlebrown;
}

#next {
  width: initial;
}

#counter {
  margin-top: 10px;
  color: darkgray;
}

#smiley {
  font-size: 100px;
  line-height: 100px;
  height: 100px;
  animation-duration: 0.36s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin-bottom: 30px;
  cursor: pointer;
}

#smiley.fadein {
  animation-name: fadein;
}

@keyframes fadein {
  from {
    font-size: 1px;
  }
  to {
    font-size: 100px;
  }
}

#smiley.wiggle {
  animation-name: wiggle;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(8deg);
  }
  60% {
    transform: rotate(-6deg);
  }
  80% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
